@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');
//font-family: gowun patang;
.DetailPage__bg{
    background-image: url('https://i.pinimg.com/236x/13/1d/8e/131d8e56b00ce67d5013d6ec9f854497.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 20px;
}

.DetailPage{
    background-color: rgb(234, 234, 234);
    width: 450px;
    height: auto;
    border-radius: 15px;
    margin: 0 auto;
    
    .DetailPage__Card{
            display: flex;
            
        .DetailPage__infor{
            text-align: center;
            padding: 25px;
            height: auto;
            img{
                border-radius: 15px;
                width: 400px;
            }
            h3{
                font-family: "Playfair Display", serif;
                color: rgb(0, 0, 0);
                margin-top: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                background-color: white;
                border-radius: 10px;
            }
            p{
                font-family: "Playfair Display", serif;
                color: rgb(0, 0, 0);
                font-size: 22px;

            }
            h5{
                font-family: "Playfair Display", serif;
                color: rgb(0, 0, 0);

            }
            .DetailPage__view{
                position: relative;
                bottom: 45px;
                left:150px ;
                background-color: white;
                p{
                    font-size: 20px;
                    font-weight: 500;
                    color: black;
                    position: relative;
                    top: 8px;
                }
            }
        }
        
    }
}
.iframe {
    // position: absolute; 
    width: 100%; 
    height: 200px; 
    // z-index: 1; 
    // bottom: 200px;
    // margin-left: 30px;
}