@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');
//font-family: gowun patang;
.Manager__h1{
    text-align: center;
    font-family: "Playfair Display", serif;
    margin-bottom: 20px;
}

.but{
    position: relative;
    left: 91.5%;
    bottom: 1px;
}

.modal-header {
    justify-content: center;
    .modal-title{
        font-family: gowun patang;
        font-size: 40px;
        font-weight: 500;
    }
  }
  